.bookList {
    cursor: move;
    font-size: 15px;
    span {
        font-weight: bold;
    }
}

.booksContainer {
    margin-top: 30px;
    width: 100%;
}

#checkbox {
    font-weight: bold;
}

.bookInfo {
    text-align: left;
}

//for dragAndDrop Effects
.drag {
    opacity: 0.5;
}