@mixin center () {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
}

html, body {
  height: 100%;
  color: #000000;
  text-align: center;
  display:block !important; /*prevents flash of unstyled content when ng-cloak not working*/
}

.main {
  min-height: 100%;
  @include center();
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
