@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin center () {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
}

html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  color: #000000;
  text-align: center;
  display:block !important; /*prevents flash of unstyled content when ng-cloak not working*/
}

.main {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #ddd;
  min-height: 100%;
  @include center();
  padding: 50px;
  max-width: 1200px;
  margin: 20px auto;
}
