<div class="formContainer">
    <div class="form-group">
      <label for="text">Title:</label>
      <input type="text" class="form-control" ng-model="form.newBook.title">
    </div>
    <div class="form-group">
      <label for="text">Author:</label>
      <input type="text" class="form-control" ng-model="form.newBook.author">
    </div>
    <div class="form-group">
      <label for="text">Date:</label>
      <input type="text" class="form-control" ng-model="form.newBook.date">
    </div>
    <button class="btn btn-primary" ng-click="form.handleClick()">Add</button>
</div>